<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"> 
    <title>Admin Page</title>
</head>
<body class="container">

    <div class="pull-left pt-5">
        <a href="/users" class="btn btn-primary"> View Users </a>
    </div>
    <div class="pull-right pt-5">
      <a href="/logout" class="btn btn-danger"> Logout </a>
    </div>

  <div class="container text-center ">  
    <br><h1> All Products </h1><br><br>
    <table class="table">
        <th class="text-center"> Product Id</th>
        <th class="text-center"> Product Name</th>
        <th class="text-center"> Product Cost</th>
        <th class="text-center"> Product Description</th>
        <th class="text-center"> </th>
      <tbody>
        {%for row in data%}
        <tr>
          <td>{{row.product_id}}</td>
          <td> {{row.product_name}}</td>
          <td> {{row.product_cost}}</td>
          <td> {{row.product_desc}}</td>
          <td> <a href="/del_prod/{{row.product_id}}" class="btn btn-danger">Delete Product</a> </td>
          </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</body>
</html>